/******************************************/
/******************Global******************/
/******************************************/

body{
    font-family: 'Roboto Slab', serif;
    background-color: #282828;
    margin: auto;
    text-align: center;
}

.heading{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
}

.S_heading{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 26px;
}

.S_textHeading{
    font-size: 18px;
    margin-top: 25px
}

.ContentDiv{
    margin: auto;
    margin-bottom: 3%;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 80%;
    overflow: hidden;
    background-color: white;
}
 
.textBox{  
    margin: auto;
    width: 90%;
    border: 1px #282828 solid;
}

.ContentText{
    margin: auto;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
    line-height: 1.25em;
}

hr{
    margin-right: 10%;
    margin-left: 10%;
    border-width: 3px;
    text-align: center;
    border-color: #1f1f1f;
}

/******************************************/
/******************Header******************/
/******************************************/

header{
    height: 80px;
    background-color: #1f1f1f;
}

/******************************************/
/******************Navbar******************/
/******************************************/

nav {
    overflow: hidden;
    float: right;
}

nav a {
    float: left;
    position: relative;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 25px;
    padding-right: 25px;
    border: 4px solid;
}

nav .current{
    border-color: orange;
}

nav a:hover{
   border-color: orange;
}

/*Meny för mobila enheter*/
#menu{
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 32px 0px;
    cursor: pointer;
    display: none;   
    color: white;
}

/*h1 är loggan*/
/*Ändrar så att den inte har någon margin så den inte är ivägen för annat och flytter på divs osv.*/
h1 a{
    margin: 0;
    font-size: 2.25em;    
    text-decoration: none;
    color: white;
}

/*Den här classen centrerar loggan med padding*/
#logo{
    padding-top: 22px;
    padding-bottom: 22px;
    margin-left: 2%;
    list-style-type: none;
    float: left;
}


/*Jag får ner texten genom att ge den en absolute position och sedan ger den top 12% som trycker ner den med 12% från headern. Text-align för att centrera texten.*/

/******************************************/
/**************Dropdown Meny***************/
/******************************************/

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    color: white;
    background-color: inherit;
}

.dropdownLinks {
    width: 115px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1; 
}

.dropdownLinks a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    position: relative;
    margin: 0;
}

.dropdownLinks a:hover {
    background-color: orange;
}

.dropdown:hover .dropdownLinks {
    display: block;
}


/******************************************/
/***************Första Sidan***************/
/******************************************/

h2{
    position: absolute;
    width: 100%;
    top: 25%;
    font-size: 4em;
    color: white;
    background: rgba(31, 31, 31, 0.9);
    text-align: center;
}

#FrontImg{
    width: 100%;
}


/******************************************/
/*****************Blogposts****************/
/******************************************/

.blogPostFront{
    margin: 5% 15% 5% 15%;
    padding-top: 5px;
    padding-bottom: 25px;
    background-color: white;
}

.blogPost img{
    width: 100%;
    height: 100%;
}

.blogPost:hover{
    border-color: rgb(31, 31, 31);
}

.blogPost{
    float: left;
    width: 26%;
    margin-right: 10px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    border: 1px solid grey;
}

.blogPosts{
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
}

.desc{
    padding: 10px;
    text-align: center;
}

.PostImage{
    width: 90%;
}


/******************************************/
/******************About******************/
/******************************************/

.h3Header{
    font-size: 38px;
}

.AboutDiv{
    width: 60%;
}

#AboutPic{
    margin-left: 50px;
    width:370px;
    height:480px;
    position: relative;
    float: right;
}

#AboutLi{
    float: right;
}


/******************************************/
/******************Footer******************/
/******************************************/

footer{
    height: 125px;
    width: 100%;
    background-color: #1f1f1f;
}

/*Gör alla så att alla länkar i footerinf inte har någon underline eller den orginala lila färgen när länken har blivit visited(besökt)*/
footer a{
    text-decoration: none;
    color: white;
}

/*Gör att varje column tar en tredjedel av sidan*/
.column{
    width: 33.3%;
    margin-top: 25px;
    text-decoration: none;
    color: white;
    line-height: 1.25em;
    float: left;
}

/*Sociala Medier Symboler*/
.fa {
    text-align: center;
    padding: 25px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}





/******************************************/
/**************Media Queries***************/
/******************************************/

@media only screen and (max-width: 850px){
    /*Gömmer nav knapparna för mobila enheter*/
    nav{
        display: none;
    }
    /*Ändrar så att menyn syns istället för knapparna*/
    #menu{
        display: block;
    }
    
    .nav li a{
    display: block;
    text-decoration: none;
    width: 100%;
    border: 1px solid;
}
        
    .blogPostFront{
        margin-top: 10%;
        margin-left: 0;
        margin-right: 0;
        background-color: #282828;
        color: white;
    }
    
    .blogPost{
        width: 75%;
        margin: auto;
        margin-bottom: 50px;
    }
    /*Ändrar färgen för mobila enheter, mest för sena kvällar då det är skonsammare för ögonen med mattare färger.*/
    body{
        background-color: #1f1f1f;
    }
    /*Skiftar färger*/
    .ContentDiv{
        background-color: #282828;
        color: white
    }
    
}

@media only screen and (max-width: 740px){
    
    h2{
        font-size: 36px;
    }
    
}

/*Media Queries för footern*/
@media only screen and (max-width: 660px){
    
    .column{
        width: 100%;
        float: none;
    }
    
    footer{
        height: 275px;
    }
    
}